h1 {
    color: #6e8a28;
    background-color:#d49231 ;
}

form{
    color: #090629;
}

.i{
    color: #6e8a28;
}

.u{
    color: #09052e;
}

.hasi{
    color:#0c0733 ;
    text-decoration: wavy;
}

.o{
    color:#1a1919;
}

.w{
   background-color: #57d165;
}

.q{
    background-color: #b31515;
}
.achille{
    background-color:#d49231 ;
}

.r{
    background-color: #45f559;
}

.b{
    background-color:  #b31515; 
}